<style>
    table, th, td {
  border: 1px solid black;
}
    

    h1{
       font-size: 60px; color: darksalmon;
    }

    .label1{
        font-size: 60px; color: darksalmon;
    }
</style>